@import url("reset.css");

* { box-sizing: border-box; }
body { font: normal 16px Helvetica, Arial, sans-serif; }
a { text-decoration: none; }

/* BUTTON */
button {
  display: inline-block;
  background: inherit;
  padding: 10px 15px;
  color: #654b8e;
  border: 1px solid #654b8e;
  border-radius: 5px;
  transition: all .25s ease-in;
}

button:hover {
  background: #654b8e;
  color: white;
}


/* INPUTS */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all .25s ease-in;
}

input:focus {
  outline: none;
  border: 1px solid rgba(101, 175, 233, .75);
  box-shadow: 0 0 10px 1px rgba(101, 175, 233, .5);
}


/* HEADER */
header {
  background: #654b8e;
  padding: 25px 0;
  color: rgba(255, 255, 255, .7);
  font-size: 20px;
  text-align: center;
}

header a {
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  font-size: 36px;
}

/* MAIN */
main { padding-bottom: 150px; }


/* WRAPPER */
.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}


/* MENU */
#menu {
  position: absolute;
  top: 0;
  background: #f5f5f5;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
}

#menu button { margin-right: 150px; }


/* FOOTER */
footer {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #dfdfdf;
}


/* NEW CONTACT */
#add-new {
  display: none;
  position: relative;
  background: white;
  padding-top: 50px;
  font-size: 14px;
  z-index: 2;
}

#add-new h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}

#add-new form {
  width: 500px;
  margin: 0 auto;
}

#add-new dt {
  float: left;
  width: 30%;
  padding: 10px 0;
  font-weight: bold;
  text-align: right;
}

#add-new dd { margin: 25px 0 25px 35%; }
#add-new input { width: 100%; }

.btn-group {
  margin-left: 35%;
  text-align: center;
}

.btn-group button { width: 45%; }
.btn-group button + button { margin-left: 10%; }


/* CONTACTS */
#contacts {
  position: relative;
  padding-top: 150px;
  font-size: 0;
}

/* NO CONTACTS */
.no-contacts {
  background: #f5f5f5;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}


/* CONTACT */
.contact {
  display: inline-block;
  vertical-align: top;
  min-width: 24%;
  margin: 0 .5% 20px .5%;
  font-size: 14px;
}

.contact::after {
  display: block;
  content: "";
  min-width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #dfdfdf;
}

.contact h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact dt { font-weight: bold; }
.contact dd { margin: 2px 0 10px 0; }